.config/nvim/plugged
.config/nvim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/devicons.py
.config/ranger/__pycache__/
.config/ranger/plugins/
.ccls-cache
.DS_STORE
.local/bin/claude
.local/bin/mise
