!-- Xft settings -- !
!Xft.dpi:        96
!Xft.antialias:  true
!Xft.rgba:       rgb
!Xft.hinting:    true
!Xft.hintstyle:  hintfull
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!-- URxvt settings -- !
URxvt.font: xft:SourceCodePro:pixelsize=12:Regular,\
            xft:Noto Sans CJK

URxvt.boldFont: xft:SourceCodePro:pixelsize=12:Bold

URxvt.letterSpace: 0
URxvt.cursorBlink: 1

! Disable scrollbar
URxvt.scrollBar: false

! Set terminal padding
URxvt.internalBorder: 2

!URxvt*.depth: 24

! Input method
! URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! Enables copy/paste with Ctrl-Shift-C/v
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

! Unmap buttons that are going to be used in vim
URxvt.keysym.C-Tab            : \033[25~<Tab>]

! URxvt Extensions
URxvt.perl-ext-common: default,clipboard,matcher,url-select,keyboard-select,xresources-256
URxvt.colorUL:    #4682B4
!! url-select
URxvt.keysym.M-u:  perl:url-select:select_next
URxvt.url-select.launcher: webview
URxvt.url-select.underline: true
!!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

! #define nord0 #2E3440
! #define nord1 #3B4252
! #define nord2 #434C5E
! #define nord3 #4C566A
! #define nord4 #D8DEE9
! #define nord5 #E5E9F0
! #define nord6 #ECEFF4
! #define nord7 #8FBCBB
! #define nord8 #88C0D0
! #define nord9 #81A1C1
! #define nord10 #5E81AC
! #define nord11 #BF616A
! #define nord12 #D08770
! #define nord13 #EBCB8B
! #define nord14 #A3BE8C
! #define nord15 #B48EAD
! 
! *.foreground:   nord4
! *.background:   nord0
! *.cursorColor:  nord4
! *fading: 35
! *fadeColor: nord3
! 
! *.color0: nord1
! *.color1: nord11
! *.color2: nord14
! *.color3: nord13
! *.color4: nord9
! *.color5: nord15
! *.color6: nord8
! *.color7: nord5
! *.color8: nord3
! *.color9: nord11
! *.color10: nord14
! *.color11: nord13
! *.color12: nord9
! *.color13: nord15
! *.color14: nord7
! *.color15: nord6
#define blackgravel #1c1b1a
#define darkgravel #242321
#define deepgravel #45413b
#define mediumgravel #666462
#define gravel #857f78
#define plain #f8f6f2
#define lightgravel #998f84
#define snow #ffffff
#define taffy #ff2c4b
#define orange #ffa724
#define dalespale #fade3e
#define lime #aeee00
#define saltwatertaffy #8cffba
#define tardis #0a9dff
#define dress #ff9eb8
#define darkroast #88633f
#define   coffee           #c7915b
#define   dirtyblonde      #f4cf86

*.foreground:   plain
*.background:   blackgravel
*.cursorColor:  plain
*.color0:       blackgravel
*.color1:       taffy
*.color2:       lime
*.color3:       dalespale
*.color4:       tardis
*.color5:       dress
*.color6:       saltwatertaffy
*.color7:       plain
*.color8:       mediumgravel
*.color9:       orange
*.color10:      coffee
*.color11:      dirtyblonde
*.color12:      gravel
*.color13:      lightgravel
*.color14:      darkroast
*.color15: snow
